{% extends 'email_list/base.html' %}

{% block content %}
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Войти в аккаунт
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            Войти
                        </button>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'users:new_password' %}">
                            Забыли пароль?
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}